<h1>餐廳後台</h1>
<nav class="nav">
  <a class="nav-link link-primary p-0 me-2" aria-current="page" href="/admin/restaurants">
    Restaurants
  </a>
  <p class="me-2">|</p>
  <a class="nav-link p-0 me-2" href="/admin/users">Users</a>
</nav>
<br />