<div class=" d-flex justify-content-center">
  <div class="raw d-flex bg-white col-8 ">
    <div class="col-auto">
      <img src="{{user.image}}" alt="user image" style="width: 300px; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;">
    </div>
    <div class="col-8">
      <div class="m-5">
        <p class="fw-bold fs-5">{{user.name}}</p>
        <p>{{user.email}}</p>
      </div>
    </div>
  </div>
</div>